* { /* reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.newsletter-form {
    padding: 24px;
}

.newsletter-form-label,
.newsletter-form-input { /* input:not([type="radio"]) faz com que não use este css para o input radio, porém as boas práticas indicam para usar as classes ao invés deste atributo. */
    display: block; /* vai ocupar toda a linha e forçar que o próximo elemento vá para a linha debaixo */
}

.newsletter-form-label {
    font-size: 18px;
    margin-bottom: 8px;
}

.newsletter-form-input {
    width: 100%; /* Ocupa todo espaço disponível */ 
    height: 32px;
    padding: 0 12px; /* 0px em cima e embaixo e 12px nas laterais */
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    color: gray;
    /* outline: 0; - Remove o foco do input gerado pelo atributo for do label.*/
}

.newsletter-form-filds,
.newsletter-form-fieldset {
    margin-bottom: 16px;
}

.newsletter-form-fieldset {
    padding: 12px;
    border: 1px solid gray;
}

.newsletter-form-legend {
    padding: 0 12px;
    font-size: 18px;
}

.newsletter-form-fake-input-wrapper {
    position: relative;
    display: inline-flex;
    margin-right: 16px;
}

.newsletter-form-radio-input,
.newsletter-form-fake-input {
    width: 16px;
    height: 16px;
}

.newsletter-form-radio-input {
    display: block;
    opacity: 0;
    margin-right: 8px;
}

.newsletter-form-radio-input:checked ~ .newsletter-form-fake-input::after { /* input:checked quer dizer quando estiver selecionado (PseudoClasse). E o + informando a outra classe, quer dizer que está pegando o irmão próximo. O ::after é um pseudoelemento, onde é usado para criar um elemento para o CSS através do pseudoelemento. Nesse caso, depois do conteúdo. O pseudoelemento ~ quer dizer que vai pegar o irmão que vier primeiro. (Ou seja, qualquer elemento irmão e não o seguinte.)*/
    content: ''; /* Por ser um elemento visual, não colocou texto. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Volta no eixo x e y 50% */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dc143c;

}

.newsletter-form-fake-input {
    position: absolute; /* Sempre que tiver um elemento com absolute, deve ter um relativo no elemento pai. Pois por padrão todo elemento tem position static, e assim tendo um absolute e um static o elemento acaba ficando solto na página. Logo, o pai sendo position: static e o filho position:absolute o elemento fica solto na página. */
    top: 0;
    left: 0;
    border: 1px solid gray;
    border-radius: 50%; /* Faz o arredondamento */
    pointer-events: none; /* Evita que o elemento seja "clicável" */
}

.newsletter-form-button {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #dc143c;
    cursor: pointer;
}

.newsletter-form-button:hover {
    background: #99132e;
}

.newsletter-form-button:active {
    background: #dc143c;
}
